@font-face{
    font-family: 'ProximaNova';
    src: url('../font/proximanova-light-webfont.woff2') format('woff2');
    font-weight: 300;
}
@font-face{
    font-family: 'ProximaNova';
    src: url('../font/proximanova-regular-webfont.woff2') format('woff2');
    font-weight: 400;
}
@font-face{
    font-family: 'ProximaNova';
    src: url('../font/proximanova-medium-webfont.woff2') format('woff2');
    font-weight: 500;
}
@font-face{
    font-family: 'ProximaNova';
    src: url('../font/proximanova-semibold-webfont.woff2') format('woff2');
    font-weight: 600;
}
@font-face{
    font-family: 'ProximaNova';
    src: url('../font/proximanova-bold-webfont.woff2') format('woff2');
    font-weight: 700;
}
